<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="Home/favicon.ico" type="image/x-icon">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/popper.min.js"></script>
</head>
<body>
RenderBody()
<div>
    <hr class="bg-success" style="height: 2px"/>
    <footer>
        <h5>CopyRight &copy; Sanity Design Studios. All rights reserved.</h5>
    </footer>
</div>
</body>
</html>